{% extends "base.html" %}
{% block title %}关于 · 心之海{% endblock %}
{% block content %}
<div class="card about-container">
  <div class="about-header">
    <div class="about-avatar-wrapper">
      <img
        src="{{ url_for('static', filename='img/avatar.jpg') }}"
        alt="Avatar"
        class="about-avatar"
      />
    </div>
    <h1 class="about-name">紗衣 澪</h1>
    <p class="about-bio">CYE_zero</p>

    <div class="about-social">
      <a href="https://github.com/CYEzero" title="Github"><i class="fa-brands fa-github"></i></a>
      <a href="https://steamcommunity.com/profiles/76561198847432902/"><i class="fa-brands fa-steam"></i></a>
    </div>
  </div>

  <hr class="about-divider" />

  <div class="about-sections">
    <details class="about-item" closed>
      <summary class="about-item-title">
        <span><i class="fa-solid fa-signature"></i> 关于昵称</span>
        <i class="fa-solid fa-chevron-down arrow-icon"></i>
      </summary>
      <div class="about-item-content">
        <p>
          说来也挺有趣，我原本用的昵称是<strong>CYE_zero</strong>，后面突然想换成汉字了，就变成了这个。
        </p>
        </br>
        <p>
          按照读音，前半部分发"sai"，于是取了日语罗马音相同的汉字“紗衣”。后半部分，zero直译是“零”，加上三点水读音不变，字形也更好看，就用“澪”这个字了。
        </p>
        </br>
        <p>原来的字母昵称，在经历多次迭代后已经不知道原意是什么了。因为包含了过去各种昵称的一部分，所以我仍然会一直用下去。</p>
      </div>
    </details>

    <details class="about-item" closed>
      <summary class="about-item-title">
        <span><i class="fa-solid fa-feather-pointed"></i> 关于座右铭</span>
        <i class="fa-solid fa-chevron-down arrow-icon"></i>
      </summary>
      <div class="about-item-content">
        <p>
          我的座右铭是滕王阁序里的一句话：<strong>关山难越，谁悲失路之人；萍水相逢，尽是他乡之客。</strong>
        </p>
        </br>
        <p>我选这句作为座右铭，不仅因为我所处的环境与之高度匹配，我更加希望，能守护一下，延长一点人之间转瞬即逝的微弱牵绊罢了。</p>
      </div>
    </details>

    <details class="about-item" closed>
      <summary class="about-item-title">
        <span><i class="fa-solid fa-heart"></i> 关于爱好</span>
        <i class="fa-solid fa-chevron-down arrow-icon"></i>
      </summary>
      <div class="about-item-content">
        <p>我从小到大确实学过一堆东西，文一点的诸如书法、古筝、围棋、编程等（确实不止这些）；武一点的诸如武术，羽毛球。甚至奇怪一些的，比如六爻，四柱等等玄学术数也未尝没有涉猎过。尽管说不上精通，却也登堂入室，有许多都拿过比赛名次，倒也值得拿出来说说。
        </p>
        </br>
        <p>不过说到底，我决不可能同时做好那么多事。所以爱好经常处于轮换的状态，导致提升瓶颈期会更加频繁出现。至于我现在所决定的目标，我希望能在大学四年时间里，挑一个坚持下去吧！</p>
        </br>
        <p>有一点值得说一下，近些时间确实更加喜欢写写文章、诗词之类的。有时心里难受了，这确实是一个排解的好方法。这也是我做本站的原因之一，把自己写的分享一下，从某种程度上可以说是为了一碟醋包了饺子。</p>
      </div>
    </details>
  </div>
</div>
{% endblock %}
