{% extends "base.html" %}
{% block title %}关于 · 心之海{% endblock %}
{% block content %}
<div class="card about-container">
  <div class="about-header">
    <div class="about-avatar-wrapper">
      <img
        src="{{ url_for('static', filename='img/avatar.jpg') }}"
        alt="Avatar"
        class="about-avatar"
      />
    </div>
    <h1 class="about-name">紗衣 澪</h1>
    <p class="about-bio">CYE_zero</p>

    <div class="about-social">
      <a href="https://github.com/CYEzero" title="Github"><i class="fa-brands fa-github"></i></a>
      <a href="https://steamcommunity.com/profiles/76561198847432902/"><i class="fa-brands fa-steam"></i></a>
    </div>
  </div>

  <hr class="about-divider" />

  <div class="about-sections">
    <details class="about-item" closed>
      <summary class="about-item-title">
        <span><i class="fa-solid fa-signature"></i> 关于昵称</span>
        <i class="fa-solid fa-chevron-down arrow-icon"></i>
      </summary>
      <div class="about-item-content">
        <p>
          说来也挺有趣，我原本用的昵称是<strong>CYE_zero</strong>，后面突然想换成汉字了，就变成了这个。
        </p>
        </br>
        <p>
          按照读音，前半部分发"sai"，于是取了日语罗马音相同的汉字“紗衣”。后半部分，zero直译是“零”，加上三点水读音不变，字形也更好看，就用“澪”这个字了。
        </p>
        </br>
        <p>原来的字母昵称，在经历多次迭代后已经不知道原意是什么了。因为包含了过去各种昵称的一部分，所以我仍然会一直用下去。</p>
      </div>
    </details>

    <details class="about-item" closed>
      <summary class="about-item-title">
        <span><i class="fa-solid fa-feather-pointed"></i> 关于座右铭</span>
        <i class="fa-solid fa-chevron-down arrow-icon"></i>
      </summary>
      <div class="about-item-content">
        <p>
          我的座右铭是滕王阁序里的一句话：<strong>关山难越，谁悲失路之人；萍水相逢，尽是他乡之客。</strong>
        </p>
        </br>
        <p>我身边，都是奔往异国他乡的人，或是谋生，或是求学。虽目的各有不同，但境遇却有共同点：前是阻碍重重，后是万丈深渊，可谓失路人也。举目四望陌生的他乡，眼前似乎都是同路人，但竟无一人可分享喜悦，分担痛苦。用不了多久，就又像雨中浮萍一样被迫各奔东西。我这才发现，人之间的牵绊，竟如此之脆弱。</p>
        </br>
        <P>翻开朋友圈，几年的时光浓缩在了小小的屏幕上。以前很熟悉的朋友，现在已如同陌生人一般，偶尔的交流，也仅仅公式化的问好。时光确如白驹过隙，每每想到，都不禁眼角湿润。</P>
        </br>
        <p>苏轼说：“人生如逆旅，我亦是行人。”既然都是过客，那何必执着于聚散离合呢。我曾经也如此想，也行动过。但我最后才幡然醒悟，人永远不是一座孤岛，特别是对我这样，更加多愁善感的人来说。</p>
        </br>
        <p>我选这句作为座右铭，不仅因为我所处的环境与之高度匹配，我更加希望，能守护一下，延长一点人之间转瞬即逝的微弱牵绊罢了。</p>
      </div>
    </details>

    <details class="about-item" closed>
      <summary class="about-item-title">
        <span><i class="fa-solid fa-heart"></i> 关于爱好</span>
        <i class="fa-solid fa-chevron-down arrow-icon"></i>
      </summary>
      <div class="about-item-content">
        <p>我从小到大确实学过一堆东西，文一点的诸如书法、古筝、围棋、编程等（确实不止这些）；武一点的诸如武术，羽毛球。甚至奇怪一些的，比如六爻，四柱等等玄学术数也未尝没有涉猎过。尽管说不上精通，却也登堂入室，有许多都拿过比赛名次
        </p>
        </br>
        <p>不过说到底，我决不可能同时做好那么多事。所以爱好经常处于轮换的状态，导致提升瓶颈期会更加频繁出现。至于我现在所决定的目标，我希望能在大学四年时间里，不耽误学科学习的同时，把围棋业余5段证书拿到手（现在水平退步到了业2吧，之前参加区级比赛在有段战A组吃尽了苦头）。</p>
        </br>
        <p>有一点值得说一下，近些时间确实更加喜欢写写文章、诗词之类的。有时心里难受了，这确实是一个排解的好方法。这也是我做本站的原因之一，把自己写的分享一下，从某种程度上可以说是为了一碟醋包了饺子。</p>
      </div>
    </details>
  </div>
</div>
{% endblock %}
